[package]
name = "kithara-worker"
version = "0.1.0"
edition = "2021"

[features]
test-utils = []

[dependencies]
async-trait = { workspace = true }
futures = { workspace = true }
kanal = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
mockall = { workspace = true }
rstest = { workspace = true }
