CACHE_CONFIG_VOLUME=/mnt/sdb1/kithara-ci-services/s3/config
CACHE_DATA_VOLUME=/mnt/sdb1/kithara-ci-services/s3/data
CACHE_CLIENTS_VOLUME=/mnt/sdb1/kithara-ci-services/s3/clients
CACHE_NETWORK=kithara-ci
CACHE_SCOPES="trusted review"
CACHE_BUCKET_QUOTA=200GiB
CACHE_CLIENT_ENDPOINT=http://kithara-ci-cache:9000
CACHE_CLIENT_UID=1000
CACHE_PORT=19000
