[package]
name = "kithara-decode"
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
kithara-stream = { workspace = true }
thiserror = { workspace = true }
kanal = { workspace = true }
symphonia = { workspace = true }
tokio = { workspace = true }
rodio = { workspace = true, optional = true }
rubato = { workspace = true }
tracing = { workspace = true }

[features]
default = []
# Enable rodio::Source adapter for playback
rodio = ["dep:rodio"]

[dev-dependencies]
tokio = { workspace = true }
axum = { workspace = true }
bytes = { workspace = true }
reqwest = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
url = { workspace = true }
kithara-file = { workspace = true }
kithara-hls = { workspace = true }
tempfile = { workspace = true }
rodio = { workspace = true }
async-trait = { workspace = true }
rstest = { workspace = true }

[[example]]
name = "file_decode"
required-features = ["rodio"]

[[example]]
name = "hls_decode"
required-features = ["rodio"]
