[package]
name = "kithara-decode"
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
kithara-stream = { workspace = true }
kithara-bufpool = { workspace = true }
symphonia = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
hotpath = { workspace = true, optional = true }
unimock = { workspace = true, optional = true }

[features]
default = []
perf = ["dep:hotpath", "hotpath/hotpath"]
apple = []
android = []
test-utils = ["unimock"]

[dev-dependencies]
rstest = { workspace = true }
unimock = { workspace = true }
