[package]
name = "kithara-decode"
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[lints]
workspace = true

[dependencies]
kithara-stream = { workspace = true }
kithara-bufpool = { workspace = true }
symphonia = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
hotpath = { workspace = true, optional = true }
unimock = { workspace = true, optional = true }

[target.'cfg(any(target_os = "macos", target_os = "ios"))'.dependencies]
core-foundation = { workspace = true, optional = true }
core-foundation-sys = { workspace = true, optional = true }

[features]
default = []
perf = ["dep:hotpath", "hotpath/hotpath"]
apple = ["dep:core-foundation", "dep:core-foundation-sys"]
android = []
test-utils = ["unimock"]

[dev-dependencies]
rstest = { workspace = true }
unimock = { workspace = true }

[[example]]
name = "prime_info_check"
required-features = ["apple"]

[[example]]
name = "abr_switch_simulator_apple"
required-features = ["apple"]
